html {
  text-align: center;
  font-family: monospace;
  margin: 50px auto;
}
#container {
  border: 10px solid black;
  background-color: black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
  gap: 2px;
  width: 402px;
}
#display {
  grid-column: 1/-1;
  background-color: #b2b9b7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 5px;
  font-size: 70px;
  text-shadow: 1.5px 1.5px black;
  margin: 5px;
}
#zero {
  grid-column: span 2;
}
.operator,
.equals {
  background-color: orange;
}
.operand,
.decimal {
  background-color: rgb(93, 98, 99);
}
.clear,
.sign,
.percent {
  background-color: rgb(154, 168, 175);
}
#container button {
  font-size: 25px;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 1.5px 1.5px black;
}
